#article-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 1%;
    .container-left{
        display: flex;
        flex-direction: row;
        gap: 2rem;
        width: 100%;
        margin: auto 3%;
    }
    .container-logo{
        margin: 0;
        .logo{
            cursor: pointer;
            height: calc(42.31px * var(--multiplier));
            width: calc(50px * var(--multiplier));
        }
    }
    .container-right{
        width: 100%;
        margin: auto 3%;
    }
}



