:root {
    --font-primary: var(--font-bebasneue);
    --font-secondary: var(--font-baskervville);
    --primary-color: #FF9D00;
    --secondary-color: #E7D2F3;
    --ascent-color: #CF0C54;
    --background-color: #FFE9C9;
    // --background-color: #FFEEE4;
    --text-color: #060923;
    --text-reverse-color: #FFEEE4;
    --black-100: #212126;
    --black-75: rgba(33, 33, 38, 0.75);
    --black-50: rgba(33, 33, 38, 0.50);
    --black-25: rgba(33, 33, 38, 0.25);
    --black-10: rgba(33, 33, 38, 0.10);
    --multiplier: 1;
}

@media only screen and (min-width: 850px) {
    :root{
        --multiplier: 2;
    }
}