.r-btn{
    cursor: pointer;
    overflow: hidden;
    position: relative;
    background-color: transparent;
    .r-btn-bg{
        background-color: var(--primary-color);
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
    }
    .r-btn-text{
        color: var(--text-color);
        position: relative;
    }
}